# Init Libraries

In [1]:
import numpy as np
import pandas as pd

### **Series**

In [10]:
series_obj = pd.Series(np.arange(8), index=['row1','row2','row3','row4','row5','row6','row7','row8'])
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int64

In [11]:
series_obj['row7']   #select row7

6

In [14]:
series_obj[[0,7]]   #select particular elements

row1    0
row8    7
row7    6
dtype: int64

In [24]:
df = pd.DataFrame(np.random.rand(36).reshape((6,6)),  #divide random 36 number into row and col using reshape
                  index=['row1','row2','row3','row4','row5','row6'],
                  columns=['col1','col2','col3','col4','col5','col6'])

In [25]:
df

          col1      col2      col3      col4      col5      col6
row1  0.306866  0.974129  0.092405  0.222018  0.819694  0.797609
row2  0.195838  0.213504  0.406029  0.069597  0.917132  0.710577
row3  0.909965  0.206288  0.568387  0.212017  0.580202  0.902204
row4  0.789080  0.957717  0.796814  0.682186  0.172240  0.849490
row5  0.973476  0.336386  0.429458  0.927579  0.920902  0.486653
row6  0.921225  0.875628  0.083118  0.554685  0.780527  0.794329

In [26]:
df.loc[['row1','row2'] , ['col1','col2']]

          col1      col2
row1  0.306866  0.974129
row2  0.195838  0.213504

### Data Slicing

In [28]:
series_obj['row1':'row5']

row1    0
row2    1
row3    2
row4    3
row5    4
dtype: int64

In [29]:
df['row1' : 'row5']

          col1      col2      col3      col4      col5      col6
row1  0.306866  0.974129  0.092405  0.222018  0.819694  0.797609
row2  0.195838  0.213504  0.406029  0.069597  0.917132  0.710577
row3  0.909965  0.206288  0.568387  0.212017  0.580202  0.902204
row4  0.789080  0.957717  0.796814  0.682186  0.172240  0.849490
row5  0.973476  0.336386  0.429458  0.927579  0.920902  0.486653

### Comparing with Scalars

**Scalars values are single numeric values**

In [32]:
df[df<.5]

          col1      col2      col3      col4     col5      col6
row1  0.306866       NaN  0.092405  0.222018      NaN       NaN
row2  0.195838  0.213504  0.406029  0.069597      NaN       NaN
row3       NaN  0.206288       NaN  0.212017      NaN       NaN
row4       NaN       NaN       NaN       NaN  0.17224       NaN
row5       NaN  0.336386  0.429458       NaN      NaN  0.486653
row6       NaN       NaN  0.083118       NaN      NaN       NaN

### Filtering with Scalars

In [35]:
series_obj[series_obj>5]

row7    6
row8    7
dtype: int64

### Setting values with Scalars

In [41]:
series_obj['row1','row5','row8'] = 8          #set these rows to value 8
series_obj

row1    8
row2    1
row3    2
row4    3
row5    8
row6    5
row7    6
row8    8
dtype: int64