In [1]:
import nltk

# Method 1 (Open)

In [2]:
raw_data = open('SMSSpamCollections').read()

In [3]:
raw_data[0:500]

"ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...\nham\tOk lar... Joking wif u oni...\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tU dun say so early hor... U c already then say...\nham\tNah I don't think he goes to usf, he lives around here though\nspam\tFreeMsg Hey there darling it's been 3 week's now and no word bac"

In [7]:
parse_data = raw_data.replace('\t','\n').split('\n')

In [8]:
parse_data[0:10]

['ham',
 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
 'ham',
 'Ok lar... Joking wif u oni...',
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham',
 'U dun say so early hor... U c already then say...',
 'ham',
 "Nah I don't think he goes to usf, he lives around here though"]

In [10]:
#parse_data['startwith':'will go till the end':'advance by number']
label_list = parse_data[0::2]
msg_list =  parse_data[1::2]

In [13]:
len(label_list)

5575

In [14]:
len(msg_list)

5574

In [16]:
print(label_list[-3:])

['ham', 'ham', '']

In [11]:
print(label_list[:5])
print(msg_list[:5])

['ham', 'ham', 'spam', 'ham', 'ham']
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'Ok lar... Joking wif u oni...', "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", 'U dun say so early hor... U c already then say...', "Nah I don't think he goes to usf, he lives around here though"]

In [17]:
import pandas as pd
merged_df = pd.DataFrame({'label':label_list[:-1],'message':msg_list})

In [18]:
merged_df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Method 2  : read_csv

In [27]:
dataset = pd.read_csv('SMSSpamCollections', sep='\t', header=None)
dataset.columns = ['lable','message']

In [28]:
dataset.head()

  lable                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Exploring DataSet

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
lable      5572 non-null object
message    5572 non-null object
dtypes: object(2)
memory usage: 87.2+ KB

In [30]:
dataset['lable'].value_counts()

ham     4825
spam     747
Name: lable, dtype: int64

In [31]:
dataset.isnull().sum()

lable      0
message    0
dtype: int64

# Remove Punctuation

In [40]:
pd.set_option('display.max_colwidth',100)

In [41]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [48]:
def remove_punctuation(txt):
    txt_nopunct = "".join([ch for ch in txt if ch not in string.punctuation ])
    return txt_nopunct

In [49]:
dataset['msg_clean'] = dataset['message'].apply(lambda x: remove_punctuation(x))

Here we can see the new column 'msg_clean' having list of char which really doens't mean anything we need to merge them back so there we gonna update our remove_punctuation(txt) method.
Before update

def remove_punctuation(txt):
    txt_nopunct = [ch for ch in txt if ch not in string.punctuation ]
    return txt_nopunct

In [50]:
dataset.head()

,lable,message,msg_clean
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...",Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amo...
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though